body {
    background-color: #16c9;
}

.container {
    width: 700px;
    height: 500px;
    margin: 25vh auto;
    border-radius: 25px;
    box-shadow: 0 20px 40px 0px rgba(10, 10, 10, 0.7);
    text-align: center;
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR5S9GzVJ-zgD_JPiVVK9GK5EFDadiR4L8mfD0xWi0oKp_YAi1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    text-align: center;
    margin-top:80px;
}

#search-txt {
    color: red;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    padding-right: 1px;
    padding-left: 1px;
    text-align: center;
    margin-top: 20px;
}

.main{
	display:grid;
	grid-template-rows: repeat(2, 1fr);
}

#city-name{
	width:95%;
	height:200px;
	margin: 0 auto;
	border-radius:25px;
	text-align:center;
	color:orange;
	font-size: 100px;
}

.info{
	margin-top:10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width:95%;
	height:200px;
	margin: 0 auto;
	grid-gap:20px;
	border-radius:10px;
}

#temperature, #humidity{
	padding-top: 20px;
	grid-column:span 2;
	background-color:green;
	border-radius:10px;
	opacity:0.8;
	color:blue;
	font-size: 50px; 
	text-align: center;

}
i{
	color:white;
}